{% extends "user/base.html" %}
{% block content %}

<nav class="navbar sticky-top" style="background-color: #e3f2fd;">
  <h1>YOUR PLATFORM</h1>
</nav>
{% if user.is_authenticated %}
<h2>こんにちは、{{user.username}}さん!!</h2>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">NOTE</h4>
    <p class="card-text">
      これはノートアプリです。
      勉強したことや気になることはここに残しましょう！
    </p>
    <a href="{% url 'note_app:index' %}" class="btn btn-primary">Go NOTE</a>
  </div>
</div>
{% else %}
<div class="alert alert-primary" role="alert">
    <strong>ログインまたは新規登録してください</strong> 
    <br>ログインまたは新規登録すれば各アプリケーションをご利用いただけます。</br>
</div>
{% endif %}
{% endblock %}